In [21]:
# Recall the data from website
import requests
import pandas as pd

url = "https://hayday.fandom.com/wiki/Goods_List"
headers = {
    "User-Agent": (
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
        "AppleWebKit/537.36 (KHTML, like Gecko) "
        "Chrome/124.0 Safari/537.36"
    )
}
html = requests.get(url, headers=headers, timeout=30).text  
df = pd.read_html(html, flavor="lxml")[0]

# Filtered with level
df["Level"] = (
    df["Level"]
    .astype(str)
    .str.extract(r"(\d+)", expand=False)    
    .astype(float)                          
    .astype("Int64")                        
)
filtered = df[df["Level"] <= 17]

/var/folders/97/ch83kwyd58z8krz3tltkbxkm0000gn/T/ipykernel_12171/2487487634.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(html, flavor="lxml")[0]

In [26]:
excel_path = "Hayday Financial Forecast.xlsx"
forecast_df = pd.read_excel(excel_path)
name_col_excel = forecast_df.columns[0]   # ilk sütun neyse onu al
merged = pd.merge(
    filtered,
    forecast_df,
    left_on="Name",
    right_on=name_col_excel,
    how="inner"
)

In [27]:
merged

,Name,Level,Max. price,Time,XP,Needs,Source,Per boat crate,Hay Day Item Price and XP Analysis,Unnamed: 1,...,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Wheat,1,3,2 min,1,Wheat (1),Field (1st crop),50-101,Wheat,3,...,3,33,2,1,1.5,90,2160,0.5,30,720
1,Egg,1,18,20 min,2,Chicken feed (1),Chicken (1st animal product),15-24,Egg,18,...,0,NaN,20,2,NaN,NaN,NaN,0.1,6,144
2,Corn,2,7,5 min,1,Corn (1),Field (2nd crop),50-87,Corn,7,...,7,65,5,1,1.4,84,2016,0.2,12,288
3,Bread,2,21,5 min ★★★ 4 min,3,Wheat (3),Bakery,14-26,Bread,21,...,NaN,NaN,5,3,NaN,NaN,NaN,0.6,36,864
4,Soybean,5,10,20 min,2,Soybean (1),Field (3rd crop),24-48,Soybean,10,...,10,98,20,2,0.5,30,720,0.1,6,144
5,Milk,6,32,1 h,3,Cow feed (1),Cow (2nd animal product),8-16,Milk,32,...,0,NaN,60,3,NaN,NaN,NaN,0.05,3,72
6,Cream,6,50,20 min ★★★ 17 min,6,Milk (1),Dairy,8-12,Cream,50,...,NaN,NaN,20,6,NaN,NaN,NaN,0.3,18,432
7,Sugarcane,7,14,30 min,3,Sugarcane (1),Field (4th crop),14-31,Sugarcane,14,...,14,130,30,3,0.466667,28,672,0.1,6,144
8,Popcorn,8,32,30 min ★★★ 25 min,4,Corn (2),Popcorn Pot,10-19,Popcorn,32,...,NaN,NaN,30,4,NaN,NaN,NaN,0.133333,8,192
9,Carrot,9,7,10 min,2,Carrot (1),Field (5th crop),30-49,Carrot,7,...,7,65,10,2,0.7,42,1008,0.2,12,288
10,Butter,9,82,30 min ★★★ 25 min,10,Milk (2),Dairy,4-7,Butter,82,...,NaN,NaN,30,10,NaN,NaN,NaN,0.333333,20,480
11,Pancake,9,108,30 min ★★★ 25 min,13,Brown sugar (1) Egg (3),BBQ Grill,3-4,Pancake,100,...,NaN,NaN,30,13,NaN,NaN,NaN,0.433333,26,624
12,Bacon,10,50,4 h,5,Pig feed (1),Pig (3rd animal product),4-9,Bacon,50,...,0,NaN,240,5,NaN,NaN,NaN,0.020833,1.25,30
13,Cheese,12,122,1 h ★★★ 51 min,15,Milk (3),Dairy,3-5,Cheese,122,...,NaN,NaN,60,15,NaN,NaN,NaN,0.25,15,360
14,Indigo,13,25,2 h,5,Indigo (1),Field (6th crop),8-19,Indigo,25,...,35,217,120,5,0.291667,17.5,420,0.041667,2.5,60
15,Pumpkin,15,32,3 h,6,Pumpkin (1),Field (7th crop),9-16,Pumpkin,32,...,32,292,180,6,0.177778,10.666667,256,0.033333,2,48
16,Apple,15,39,16 h,7,NaN,Apple tree (8th crop),8-14,Apple,39,...,178.333333,-178.333333,960,7,0.185764,11.145833,267.5,0.007292,0.4375,10.5
17,Wool,16,54,6 h,5,Sheep feed (1),Sheep (4th animal product),5-9,Wool,54,...,0,NaN,360,5,NaN,NaN,NaN,0.013889,0.833333,20
18,Sweater,17,151,2 h ★★★ 1 h 42 min,18,Wool (2),Loom,3-4,Sweater,151,...,NaN,NaN,120,18,NaN,NaN,NaN,0.15,9,216

In [25]:
forecast_df

,Hay Day Item Price and XP Analysis,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Crops,Price (1 unit),Price (10 units),Material cost,Profit,Time (Min),XP,$/Min,$/Hour,$/Day,XP/Min,XP/Hour,XP/Day
1,Wheat,3,36,3,33,2,1,1.5,90,2160,0.5,30,720
2,Corn,7,72,7,65,5,1,1.4,84,2016,0.2,12,288
3,Carrot,7,72,7,65,10,2,0.7,42,1008,0.2,12,288
4,Soybean,10,108,10,98,20,2,0.5,30,720,0.1,6,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Mallet,403,NaN,NaN,NaN,-,-,NaN,-,-,-,-,-
136,Tar Bucket,342,NaN,NaN,NaN,-,-,NaN,-,-,-,-,-
137,Map Piece,450,NaN,NaN,NaN,-,-,NaN,-,-,-,-,-
138,Paint Bucket,342,NaN,NaN,NaN,-,-,NaN,-,-,-,-,-
139,Brick,342,NaN,NaN,NaN,-,-,NaN,-,-,-,-,-

In [3]:
df.dtypes

Name              object
Level             object
Max. price         int64
Time              object
XP                object
Needs             object
Source            object
Per boat crate    object
dtype: object

In [4]:
df.loc[89]

Name                           Wheat bundle
Level                           34 (Rep. 3)
Max. price                               50
Time              1 h 30 min ★★★ 1 h 16 min
XP                                       10
Needs                            Wheat (75)
Source                            Feed Mill
Per boat crate                          NaN
Name: 89, dtype: object

In [5]:

# there is another culprit who has funny Time `Instantor 20 h`
df.loc[64]

Name                                                    Fish fillet
Level                                                            27
Max. price                                                       54
Time                                                Instant or 20 h
XP                                                             4-20
Needs             Lure (1) or Fishing net (1) Fishing spot (any ...
Source                                    Fish (5th animal product)
Per boat crate                                                  6-9
Name: 64, dtype: object

In [8]:
df["Level"]

0        1
1        1
2        2
3        2
4        3
      ...
396    121
397    122
398    124
399    125
400    126
Name: Level, Length: 399, dtype: object

In [9]:
# remove the culprits
df = df.drop(df.index[[89]])
df = df.drop(df.index[[64]])

df['Level'] = df['Level'].astype(int)

df.dtypes

ValueError: invalid literal for int() with base 10: '34 (Rep. 3)'

In [ ]:
# Here I convert the `1 d 20 h 30 min` like time to actual minutes
# So I can do the time versus price analysis later

# This function work with each row
def format_time(row):
  time_string = ""
  time_in_minutes = 0

  if '★' in row['Time']:
    time_string = row['Time'].split("★")[0]
  else:
    time_string = row['Time']

  for i in time_string:
    if i == 'd':
      time_in_minutes += int(time_string.split('d')[0].strip()) * 24 * 60
      time_string = time_string[time_string.find('d')+1:]
    if i == 'h':
      time_in_minutes += int(time_string.split('h')[0].strip()) * 60
      time_string = time_string[time_string.find('h')+1:]
    if i == 'm':
      time_in_minutes += int(time_string.split('m')[0].strip())
  
  return time_in_minutes

df['Time'] = df.apply(format_time, axis=1)

df

In [10]:
'''
This is where I made a new column of `Price/min` which gives us a clear 
picture of which products are better to farm, has more money value per min
'''
df['Price/min'] = df.apply(lambda x: round((x['Max. price'] / x['Time']), 2) if x['Time'] != 0 else 0, axis=1)


##### CHANGE OUR LEVEL HERE #####
level = 50
#####


# now sort using the `Price/min`
df[df['Level'] <= level].sort_values(['Price/min'], ascending=[False])

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [11]:
# We can also find most profitable item for a source, like the below one

df[(df['Level'] <= level) & (df['Source'] == 'Dairy')].sort_values(['Price/min'], ascending=[False])

NameError: name 'level' is not defined

In [12]:
# Best items from each source

idx = df.groupby('Source')['Price/min'].transform(max) == df['Price/min']

df[idx][df['Level'] <= level].sort_values(['Price/min'], ascending=[False])

KeyError: 'Column not found: Price/min'

In [ ]:
'''
OK now the funny thing is we have to wait for the items we need to make the product.
So here are some suggestions and analysis -

# If we produce the items we need parallelly, 
  the most time will be consumed by the product which is produced by machines.
  ( We can plant several crops right? ;) )
  Like - We need 3 coffee beans and 1 white sugar to make Espresso which is made in only 5 min!
  But we need 1 white sugar which takes 40 mins to produce in sugar mill. 
  And we can plant as many coffee bush we want and get coffee beans in 25 hours :3
  So practically we are not making money fast with Espresso.

Now we will try to make a matrix by which we can calculate price/min with dependant items too.
We can name it `Price/min with needs`
'''
import inflect
p = inflect.engine()


list_of_parallel_sources = ['Field', 'Cow', 'Chicken', 'bush', 'Pig', 'Sheep', 'tree']

def process_name(name):
  name = name[:-2].strip()
  if p.singular_noun(name) is False:
    return name
  return p.singular_noun(name)

def match_two_lists(listA, listB):
  for i in listA:
    if i in listB:
      return True
  return False


def calc_price_per_min_with_needs(row):
  if pd.isnull(row['Needs']):
    return pd.Series((row['Time'], round((row['Max. price'] / row['Time']), 2) if row['Time'] != 0 else 0))
  needs = row['Needs'].split(")")
  total_time = 0
  for need in needs:
    if need == '':
      continue

    match_item = df.loc[df['Name'] == process_name(need)]
    try:
      if match_two_lists(match_item['Source'].item().split(" "), list_of_parallel_sources):
        total_time += match_item['Time'].item()
      else:
        total_time += match_item['Time'].item() * int(need[-1])
    except Exception as e:
      print(need)
      print(match_item)
      # print(e)

  if total_time < row['Time']:
    return pd.Series((row['Time'], round((row['Max. price'] / row['Time']), 2) if row['Time'] != 0 else 0))
  else:
    return pd.Series((total_time, round((row['Max. price'] / total_time), 2) if row['Time'] != 0 else 0))


df[['Actual time with needs', 'Price/min with needs']] = df.apply(calc_price_per_min_with_needs, axis=1)

df[df['Level'] <= level].sort_values(['Price/min with needs'], ascending=[False])

In [13]:
df[(df['Level'] <= level) & (df['Source'] == 'Pie Oven')].sort_values(['Price/min with needs'], ascending=[False])

NameError: name 'level' is not defined

In [ ]:
# Best items from each source

idx = df.groupby('Source')['Price/min with needs'].transform(max) == df['Price/min with needs']

distinct_source_df = df[idx]

distinct_source_df[distinct_source_df['Level'] <= level].sort_values(['Price/min with needs'], ascending=[False])